/* rooot variaveis */


:root {
    --prime-color: #692FA5;
    --alfa-color:#656565;
    --beta-color:#232323;
    --titles-color:#333333;
    --body-color:#FFF;
    --banner-color:#F3f3f3;
}






/* Gerais */

body,html {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    
}

.row {
    margin: 0;
}


.container {
    padding: 70px 0;
}


p {

    color: var(--alfa-color);
}

h1 {
    font-weight: bold;
}

h2,h4 {
    color: var(--titles-color) 
}

.h2title {
    color: var(--prime-color);
    font-weight: 800;
}

/* Barra de Navegação */

.navbar-nav a:hover {
    color: var(--prime-color);
    text-decoration: underline;
}



header, .navbar {
    background-color: var(--body-color);
}

header .navbar-light .navbar-brand {
    color: var(--prime-color);
    font-weight: 900;
    font-size: 28px;
    margin-left: 48%;
}

.container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 50px;
}
.navbar-nav {
    margin-left: 20em;
}

.div-nav-band-parent {
    padding-left: 5em;
}




/*  banner  */


.banner-left {
    background-color: var(--banner-color);
}


.background{
    background: url(./img/universo.png);
    height: 537px;
}

.textoAmissao {
    margin-top: 160px;
    margin-left: 40%;
}

.divtexto {
    margin-top: 59px;
}

body .banner  {
    padding: 0;
    margin: 0;
}

.banner .banner-child {
    padding: 0;
}

.banner {
    margin-bottom: 49px;
}

.banner .background{
    margin: 0;
    padding: 0;
    position: relative;
}

.div-singlo-img {
    position: absolute;
    top: 278px;
    left: 10vw;
    animation: move 1s infinite alternate;
}

@keyframes move {
    from {
        transform: translateY(20px)
    }
    to {
        transform: translateY(-20px)
    }
}


/* Section Produtos */


.div-servico-texto,.div-diferencial-texto {
    text-align: center;
}


main .container-servicos1{
    padding: 0;
    margin-top: 49px;
    
}

.container-servicos1 .div-produtos {
        margin: 0;
        padding: 0;
        display: flex;
        margin-top: 30px;
        
}

.div-produtos .div-pc-mobile {
    margin-left: 15px;
   box-shadow: 4px #656565;

}

.card-body {
    margin-top: 27px;
}



.diferencial-container {
    margin-top: 49px;
    
}

.div-pc-mobile .card {
    border-radius: 0 0 20px 20px;
    border: solid 1px var(--body-color); 
    box-shadow: 1px 1px 1px 1px rgb(247, 245, 245)
}

.container .card-body {
    margin-top: 0;
}

.main > img {
    border-bottom: solid 5px var(--prime-color);
}



.conteiner-diferencial .diferencial-conteudo {
    margin: 0;
    margin-top: 30px;
   
}

/* pesonas */

.pesonas-container {
    margin-top: 49px;
}

/* Owl-Carousel */

.owl-item {
    background-color: #F3F3F3;
    padding: 20px;
    border-radius: 20px;
    height: 183px;
}
.owl-item .div-fulano {
    display: flex;
}

.owl-item .div-fulano-children {
    margin-left: 20px;
}




/* foooter */

.div-conteudo {
    position: relative;
    margin-left: 440px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 94px;
}


.div-celular {
    background-image: url(./img/celular.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 400px;
    height: 445px;
    top: -55px;
    display: inline;
    margin-left: 50px;
    
}

.div-footer
{
    /* height: 320px; */
    position: relative;
    background: #692FA5!important;
}

.owl-theme .owl-dots .owl-dot span {
    background: var(--prime-color);
}

.parent-carousel {
    margin-bottom: 139px;
    margin-top: 30px;
}

.div-conteudo .emojidiv {
        margin-right: 20px;
}

.celular-paragrafo, .celular-titulo {
    color: var(--body-color);
}

.celular-paragrafo {
    margin-top: 20px;
}


footer {
    background-color: var(--prime-color) ;
    height: 390px;
    /* overflow: hidden; */
    
    
}


/*  mobile  */

.container-mobile {
    background-image: url(./img/universo.png);
    padding: 30px 15px 30px 15px;
    background-repeat: no-repeat;
    margin-top: 60px;
    
}

.container-mobile > .container {
    padding: 0;
}


header .navbar-light .navbar-toggler {
    color: #232323;
    border-color: rgba(255, 255, 255, 0.1);
}

header .navbar-light .navbar-toggler span{
    color: #232323;
    padding: 21px;
}

.divTextMobile {
    padding-top: 30px;
}


/* media */


@media  (max-width: 992px){
    
    .div-texto-celular,
    .div-celular ,
    .div-singlo-img,
    .banner {
        display: none;
    }

    .container-servicos1 .div-produtos {
        overflow-x: scroll;
    }
    
   
   
}

@media (min-width: 992px) {
    .container-mobile {
        display: none;
    }
    .divTextMobile {
        display: none;
    }

    
}

@media (max-width: 950px) {
    .container-servicos1 .div-produtos {
        overflow-x: scroll;
    }
}